<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Java_project_final_struts</display-name>
  <welcome-file-list>
  <welcome-file>Slogin.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
 <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
        org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
   </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
  <!-- <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.java.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.java.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/stu</url-pattern>
  </servlet-mapping>  -->
  <!-- <jsp-config>
          <taglib>
               <taglib-uri>/WEB-INF/struts-tags.tld</taglib-uri> 
               <taglib-location>/WEB-INF/struts-tags.tld</taglib-location> 
          </taglib> 
     </jsp-config> -->

</web-app>